.seq {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: start;
}
.labels {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: start;
  font-size: 9px;
  padding-bottom: 180px;
}
.container {
  padding-left: 20px;
  padding-top: 20px;
  background: rgb(226, 213, 183);
}
.instrUnselected {
  margin-top: 8px;
  background: #333;
  color: #fff;
  padding: 2px;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  font-weight: bold;
}
.play {
  display: inline-block;
  background: rgb(209, 46, 5);
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-right: 16px;
  width: 45px;
}
.b {
  position: relative;
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 3px solid rgb(255, 63, 49);
  background: #ccc;
}
.c {
  position: absolute;
  top: 0;
  left: 44%;
  width: 8px;
  height: 12px;
  background: red;
  justify-self: center;
}
.instrSelected {
  margin-top: 8px;
  background: rgb(33, 129, 81);
  color: #fff;
  padding: 2px;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  font-weight: bold;
}
