.seq {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: center;
}
.labels {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: center;
  font-size: 12px;
}
.play {
  display: inline;
  background: red;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.b {
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 2px solid red;
}
.c {
  position: absolute;
  top: 0;
  left: 44%;
  width: 4px;
  height: 12px;
  background: red;
  justify-self: center;
}
