.bpm h3 {
  display: inline-block;
  font-size: 20px;
}
.bpm input {
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 60px;
  padding: 10px;
  background: rgb(216, 213, 200);
}
.bpm {
  display: inline;
}
